{% extends '_templates/base.njk' %}
{% block page_title %}Capt. McGillicutty's Ship's Log{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
    <div class="col-6 col-md-4"> </div>
      <h1>A pirate's life is for me</h1>
      <p>Hempen halter mizzenmast deadlights gaff pillage starboard jack lee Blimey draught. Man-of-war piracy black jack sutler Yellow Jack keel provost overhaul execution dock rigging. Log quarterdeck dead men tell no tales red ensign gibbet grog blossom bilge Nelsons folly code of conduct gunwalls.</p>  
    </div>
  </div>
</div>
<div class="row">
  {% for ship in pirates.ships %}
  <div class="col-sm-6 col-lg-4">
    <div class="card text-bg-light border-info mb-4">
      <div class="card-body">
        <h5 class="card-title">{{ ship.ship_name }}t</h5>
        <h6 class="card-captains">{{ ship.captain }}</h6>
        <p class="card-text">{{ ship.blurb }}</p>
        <a href="#" target="_blank">Source</a>
      </div>
    </div>
  </div>
   {% endfor %}
</div>
{% endblock %}
